<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 well">
      <div class="row">
        <div class="col-md-8">
          <h4>Comments</h4>
          {{rating.comment}}
          <br><br><hr>
          <h5>Reviewer:</h5>
          {{rating.reviewer}}
        </div>
        <div class="col-md-4">
          <h4>Rating Score</h4>
          <h1>{{rating.star}}</h1>
          <br><br>
          <h1>{{star-review rating.star}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
