body{
  font-family: 'EB Garamond', serif;
  background-image: url("http://4.bp.blogspot.com/-yUApM5Z5yGo/UOWxd2kXGlI/AAAAAAAAFy8/ew98FjQ0ARs/s1600/Amazing+Games+Wallpapers+%252818%2529.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.btn1{
  position: fixed; bottom: 200px; right: 80px;
}
h2{
  color: white;
  text-align: center;
}
